@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: CircularTTBold;
  src: url(../public/CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularTT;
  src: url(../public/CircularStd-Light.otf);
}

/* html {
  /* scroll snap 
} */

/* scroll bar style */

body::-webkit-scrollbar {
  width: 0.1rem; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #00000000; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid black; /* creates padding around scroll thumb */
}
/* eof scroll bar style */

section {
  padding: 0rem 4rem;
}

/* nav bar style */
.bold-font {
  font-weight: bold;
  font-family: CircularTT;
}
nav {
  align-items: center;
  height: fit-content;
  display: flex;
  color: aliceblue;
  padding: 2rem 4rem;
  background-color: #000000;
}

nav > ul {
  width: 100vw;
  display: flex;
  gap: 5rem;
  justify-content: flex-end;
  align-items: center;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
}

.download-btn {
  border-radius: 4rem;
  background: #fff;
  color: #141414;
  font-family: CircularTTBold;
  font-weight: 700;
  padding: 15px;
  font-weight: 700;
  width: fit-content;
  font-size: 23px;
}
.logo {
  width: 150px;
}
/*eof nav bar style */

/* hero section  */
.hero {
  margin-top: -5rem;
  background-color: #000000;
  display: flex;

  color: #fff;
  height: 100vh;

  align-items: center;
}
.hero > div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero h1 {
  font-family: CircularTTBold;
  font-weight: 700;
  font-size: 2rem;
  width: 90%;
}
.hero p {
  font-family: CircularTT;
  font-weight: 450;
  font-size: 30px;
  width: 90%;
}
.hero .download-btn {
  font-size: 22px;
  padding: 20px;
}
.hero > div {
  width: 50%;
  padding: 0 3rem;
}

.circle {
  background: #fff;
  min-width: 20rem;
  max-width: 20rem;
  min-height: 20rem;
  border-radius: 100%;
}
.hero .circleParent {
  align-items: center;
}
/* eof hero section  */

/* section 2 line */
.section2 {
  background-color: #136eb4;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100vh;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 > h1 {
  padding-right: 4rem;
  padding-top: 4rem;
  margin-top: -4rem;
  font-size: 3rem;
  font-family: CircularTTBold;
  font-weight: 700;
}
.section2:hover > h1 {
  transform: translateY(4rem);

  transition: 1s;
}

.section2 button {
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.process {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 6rem 4rem;
  padding-bottom: 3rem;
  gap: 7rem;
}
.process > hr {
  width: 8rem;
  font-size: 2rem;
}
.process .logo:hover {
  transform: scale(1.8);
  transition-duration: 0.5s;
}
.process hr:hover {
  transform: scale(1.8);
  transition-duration: 0.5s;
}
/*eof section 2 line */

/* feature paralax */

.feature-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.feature-content > h1 {
  font-family: CircularTT;
  font-weight: 700;
  font-size: 45px;
}
.feature-content > p {
  font-family: CircularTT;
  font-weight: 450;
  font-size: 25px;
  color: #555555;
}

.mobile-screen {
  background-color: #555555;
  min-width: 17rem;
  max-width: 17rem;
  min-height: 35rem;
  border-radius: 4%;
}
.mobile-sticky {
  
  padding: 2rem;
  position: sticky;
  top: 110px;
  transform: translateX(30%);
}

.feature {
 
  position: relative;
  display: flex;
}
.feature-data {
  width: 60%;
}
.feature-visual {
  width: fit-content;
}
/*eof feature paralax */

/* section  after paralax */

/* uses most of similar style from section2 class */
.section2-2 {
  justify-content: flex-end;
  padding-bottom: 4rem;
  gap: 55px;
  height: 100%;
  padding: 5rem;
}

/*eof section  after paralax */

/* about us */
.about-us {
  height: fit-content;
  background-color: #000000;
  color: white;
  font-family: CircularTT;
  font-weight: 450;
  font-size: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  gap: 55px;
}
.about-us h1 {
  font-family: CircularTTBold;
  font-size: 45px;
}

.rating-value-image {
  width: 220px;
}

.stores {
  display: flex;
  gap: 4rem;
}
.app-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#rating-value {
  font-family: CircularTTBold;
  font-weight: 700;
  font-size: 105px;
  height: fit-content;
}

.logo-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* eof about us */

/* testmonials */
.Testamonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.Testamonials p {
  font-size: 22px;
  text-align: center;
}

footer {
  height: 20vh;
  padding: 4rem 4rem;
  display: flex;
  background-color: #000000;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: CircularTTBold;
  font-weight: 700;
  font-size: 25px;
  border-top: 1px solid #fff;
}
